@{
    ViewData["Title"] = "Join Discord";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('/images/digital-art-8015890_1280.jpeg');
            background-size: cover;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            color: #FAEBD7;
            margin: 0;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .divider {
            border-top: 1px solid #fff;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .ole_text {
            font-family: creepster;
            color: darkred;
            font-size: large;
        }

        .contact-info {
            margin-top: 40px;
        }

            .contact-info h2 {
                font-size: 24px;
            }

        .contact-method {
            margin-top: 10px;
        }

        .disc-btn {
            padding: 10px 20px;
            background-color: darkviolet;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }
            .disc-btn:hover {
                background-color: black;
            }

        .btn {
            padding: 10px 20px;
            background-color: #8b0000;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }

            .btn:hover {
                background-color: #4b0000;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Join Us</h1>
        <div class="divider"></div>
        <div class="contact-info">
            <h2>Stay Updated with the Community</h2>
            <div class="contact-method">
                <p>Connect with us on Discord to get the latest news, events, and announcements!</p>
                <a href="https://discord.gg/UU5NArRa" class="disc-btn">Our Discord</a>
            </div>
        </div>
        <div class="divider"></div>
        <a href="/" class="btn">Back to Home</a>
    </div>
</body>
</html>