@{
    ViewData["Title"] = "Select Server";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('/images/ai-generated-8127813_1280.webp');
            background-size: cover; /* Adjust the image size to cover the entire body */
            /* Add any other background properties here */
        }
    </style>
</head>
<body>
    <div>
        <!-- Your content goes here -->
        <h1>Select Server</h1>
        <p>Insert SS</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
    <!-- Include any necessary scripts here -->
</body>
</html>