@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            /* Set the background image */
            background-image: url('~/images/Our_Final_Epoch_Title_Screen.png');
            /* Set background properties */
            background-size: cover; /* Cover the entire element */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-color: black;
            /* Set dimensions for the container element */
            height: 100vh; /* Full viewport height */
            /* Center the background image */
            display: flex;
            justify-content: center;
            align-items: center;
            /* Add padding to the top to accommodate the navbar */
            padding-top: 50px;
        }

        /* Styling for the title */
        #title {
            color: red; /* Set the font color to red */
            font-style: oblique;
            font-size: xx-large;
            text-align: center;
        }

        /* Styling for the lead paragraph */
        .lead {
            color: orange; /* Set the font color to orange */
            text-align: center; /* Center the text */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <h1 id="title" class="display-3">Our Final Epoch</h1>
        <p class="lead">
            <span style="color:azure">Our Final Epoch</span> thrusts you into a post-apocalyptic world, where survival is not just a goal, but a relentless battle against nature and humanity
        </p>
        <a href="#" class="btn btn-primary btn-lg">Learn More</a>
    </div>
</body>
</html>