@{
    ViewData["Title"] = "Manage Account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('/images/ai-generated-8015891_1280.jpeg');
            background-size: cover; /* Adjust the image size to cover the entire body */
            /* Add any other background properties here */
        }

        .btn {
            padding: 10px 20px;
            background-color: #8b0000; /* Rustic red color for button */
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }

            .btn:hover {
                background-color: #4b0000; /* Darker red color on hover */
            }
    </style>
</head>
<body>
    <div>
        <!-- Your content goes here -->
        <h1>Manage Account</h1>
        <p>Insert Data</p>
        <a href="/" class="btn">Back to Home</a>
    </div>
    <!-- Include any necessary scripts here -->
</body>
</html>