@model OLE_WEBAPP.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('/images/ai-generated-8015891_1280.jpeg');
            background-size: cover; /* Adjust the image size to cover the entire body */
            /* Add any other background properties here */
        }

        .login-box {
            width: 300px;
            margin: auto;
            margin-top: 100px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            text-align: center;
        }

            .login-box input {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                box-sizing: border-box;
            }

            .login-box button {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                background-color: brown;
                color: white;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }

                .login-box button:hover {
                    background-color: black;
                }

        .btn-primary button:hover {
            background-color: black;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px; /* Add margin to the top */
        }

            .btn-container a {
                margin-right: 10px; /* Add margin between buttons */
            }
    </style>
</head>
<body>
    <div class="login-box">
        <h1 style="font-family: 'Creepster'">Register</h1>
        <form method="post">
            @Html.AntiForgeryToken()
            <input type="text" placeholder="Username" name="Username" required>
            <input type="text" placeholder="Email" name="Email" required>
            <input type="password" placeholder="Create Password" name="Password" required>
            <input type="password" placeholder="Confirm Password" name="ConfirmPassword" required>
            <button type="submit">Register</button>
        </form>
        <div class="btn-container">
            <a href="/" class="btn btn-primary" style="background-color: brown">Back to Home</a>
        </div>
    </div>
    @if (ViewData["RegistrationSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewData["RegistrationSuccess"]
        </div>
    }
    <!-- Include any necessary scripts here -->
</body>
</html>